.footer {
  background-color: var(--button-hover);
  color: var(--color1);
  text-align: center;
  padding: 20px 0;
  /* position: absolute; */
  /* bottom: 0; */
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 100%; */
  /* position: absolute; */
  bottom: 0;
}

.footer p {
  margin: 0;
}
