.footer {
  background-color: var(--button-hover);
  color: var(--color1);
  text-align: center;
  padding: 20px 0;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed; /* Keeps footer at the bottom */
  bottom: 0;
  left: 0; /* Ensures footer is aligned across the entire width */
}

.footer p {
  margin: 0;
}

