.footer {
  background-color: var(--button-hover);
  color: var(--color1);
  text-align: center;
  padding: 20px 0;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  position: absolute;
} 

.footer p {
  margin: 0;
}
